$baseFontFamily: 'Inter';
$baseFontSize: 16px;
$primaryColor: #333;
$secondColor: #717b97;
$blueColor: #1bb7cf;
$darkBlueColor: #19a8be;
$redColor: #fb5a80;
$greyColor: #e8e8e8;
$lightColor: #f3f4f4;
$greenColor: #35d977;