description = "Footer"

[viewBag]
==
<footer class="footer section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <div class="d-flex align-items-center justify-content-center justify-content--md-start">
          <img src="{{ 'assets/images/logo.png'|theme }}" class="footer__logo" alt="мой банкрот" />
          <p class="footer__description pl-2">
            ВАШ НАДЕЖНЫЙ <br>ПОМОЩНИК В СФЕРЕ <br>ФИНАНСОВЫХ ПРОБЛЕМ
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 d-flex justify-content-center justify-content--md-start mt-3 mt-md-0">
        <div class="footer__center text-center">
          <a href="#!" class="footer__policy text-white d-block mb-2">Политика конфиденциальности</a>
          <p class="footer__info text-white mb-2">Информация, размещенная на сайте, не является публичной офертой.</p>
          <span class="footer__copyright text-white d-inline-block">© 2021. Все права защищены.</span>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center justify-content--md-start mt-3 mt-md-0">
        {% partial "site/messengers" %}
      </div>
    </div>
  </div>
</footer>
