.form {

  $root: &;

  &_hurry {
    #{$root} {
      &__group {
        margin-bottom: 15px;
      }

      &__field {
        font-size: 14px;
        padding: 9px 18px;
        text-align: left;
      }

      &__error {
        text-align: left;
        font-size: 11px;
        line-height: 14px;
        @media(max-width: 767px) {
          font-size: 11px;
        }
      }
    }
  }

  &_person {
    #{$root} {
      &__field {
        text-align: left;
      }

      &__btn {
        margin-top: 20px;
      }
    }
  }

  &__group {
    position: relative;
    margin-bottom: 20px;
  }

  &__field {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 1.5;
    color: $primaryColor;
    text-align: center;
    background-color: $lightColor;
    border-radius: 10px;
    border: 1px solid $lightColor;
    transition: all .2s ease;

    &_error {
      border-color: $redColor;
    }

    @media(max-width: 767px) {
      border-radius: 7px;
      padding: 11px 10px;
      font-size: 14px;
    }

    &_textarea {
      height: 104px;
      resize: none;
    }

    &::-moz-placeholder {
      color: $secondColor;
      opacity: 1;
    }
    &::-webkit-input-placeholder {
      color: $secondColor;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $secondColor;
      opacity: 1;
    }
    &::-ms-input-placeholder {
      color: $secondColor;
      opacity: 1;
    }
    &::placeholder {
      color: $secondColor;
      opacity: 1;
    }

  }

  &__error {
    color: $redColor;
    font-size: 13px;
    font-weight: 700;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;

    @media(max-width: 767px) {
      font-size: 12px;
    }
  }

  &__btn {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;

    @media(max-width: 767px) {
      font-size: 12px;
      border-radius: 7px;
    }

    &_download {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__btn-download {
    fill: #FFF;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    @media(max-width: 767px) {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  &__privacy {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 15px;
  }

  &__privacy-ico {
    color: $secondColor;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    @media(max-width: 767px) {
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }
  }

  &__privacy-text {
    width: 100%;
    max-width: calc(100% - 30px);
    font-size: 12px;
    color: $secondColor;
    text-align: left;

    @media(max-width: 767px) {
      max-width: calc(100% - 23px);
      font-size: 11px;
    }
  }
}