<section id="intro" class="section intro">
  <div class="wrap intro__wrap">

    <div class="intro__container">
      <div class="intro__label">Спецпредложение</div>
      <h1 class="intro__title">
        {{ this.theme.site_heading|raw }}
      </h1>
      <p class="intro__subtitle">
        5 причин почему двое из трёх клиентов выбирают нас:
      </p>
      <div class="intro__list">

        <div class="intro__list-item" data-js-action="spoiler">
          <div class="intro__list-head" data-spoiler="head">
            <div class="intro__list-title">
              Слово и дело
              <svg xmlns="http://www.w3.org/2000/svg" class="intro__list-ico" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
              </svg>
            </div>
          </div>
          <div class="intro__list-body hidden" data-spoiler="body">
            <p class="intro__list-text">
              Тщательно анализируем ситуацию, изучаем документы, определяем перспективу, не обещаем невозможного и не беремся за проигрышные дела.
            </p>
          </div>
        </div>

        <div class="intro__list-item" data-js-action="spoiler">
          <div class="intro__list-head" data-spoiler="head">
            <div class="intro__list-title">
              Интересы и возможности (официальные возможности)
              <svg xmlns="http://www.w3.org/2000/svg" class="intro__list-ico" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
              </svg>
            </div>
          </div>
          <div class="intro__list-body hidden" data-spoiler="body">
            <p class="intro__list-text">
              Заключаем договор об официальном сотрудничестве с учетом Ваших потребностей и наших возможностей.
            </p>
          </div>
        </div>

        <div class="intro__list-item" data-js-action="spoiler">
          <div class="intro__list-head" data-spoiler="head">
            <div class="intro__list-title">
              Качество и гарантии
              <svg xmlns="http://www.w3.org/2000/svg" class="intro__list-ico" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
              </svg>
            </div>
          </div>
          <div class="intro__list-body hidden" data-spoiler="body">
            <p class="intro__list-text">
              Принимаем оптимальные решения, учитываем риски. Если взялись за дело – гарантируем положительный результат, в случае не списание долга – возвращаем деньги.
            </p>
          </div>
        </div>

        <div class="intro__list-item" data-js-action="spoiler">
          <div class="intro__list-head" data-spoiler="head">
            <div class="intro__list-title">
              Цены и сроки
              <svg xmlns="http://www.w3.org/2000/svg" class="intro__list-ico" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
              </svg>
            </div>
          </div>
          <div class="intro__list-body hidden" data-spoiler="body">
            <p class="intro__list-text">
              Работаем на конкурентной основе, стоимость сопровождения банкротства рассчитывается исходя из сложности дела и финансовой ситуации клиента. Гарантируем сбор документов и направление заявления в суд в течение 10 дней при наличии просроченных платежей.
            </p>
          </div>
        </div>

        <div class="intro__list-item" data-js-action="spoiler">
          <div class="intro__list-head" data-spoiler="head">
            <div class="intro__list-title">
              Прозрачность и контроль
              <svg xmlns="http://www.w3.org/2000/svg" class="intro__list-ico" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
              </svg>
            </div>
          </div>
          <div class="intro__list-body hidden" data-spoiler="body">
            <p class="intro__list-text">
              Работаем под контролем государственных органов, весь ход своего дела Вы сможете отслеживать на официальном сайте. Гарантируем государственную регистрацию арбитражного управляющего в Саморегулируемой организации.
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>