description = "Steps"

[viewBag]
==
<section id="steps" class="section steps">
  <div class="steps__wrap wrap">
    <h3 class="steps__title">6 шагов к <span>освобождению от долгов</span>.</h3>
    <div class="steps__row">
      <div class="steps__item">
        <div class="steps__item-number">1</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/phone-call.png'|theme }}" alt="Бесплатная консультация" class="steps__item-ico" />
          <div class="steps__item-title">Бесплатная консультация у лучших юристов нашей компании</div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-number">2</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/documents.png'|theme }}" alt="Заключение договора" class="steps__item-ico" />
          <div class="steps__item-title">Заключение договора на оказание юридических услуг</div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-number">3</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/to-do-list.png'|theme }}" alt="Сбор документов" class="steps__item-ico" />
          <div class="steps__item-title">Сбор документов сотрудниками нашей компании</div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-number">4</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/court.png'|theme }}" alt="Направление заявления в суд" class="steps__item-ico" />
          <div class="steps__item-title">Направление заявления о признании гражданина банкротом в арбитражный суд</div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-number">5</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/suitcase.png'|theme }}" alt="Банкроство" class="steps__item-ico" />
          <div class="steps__item-title">Введение процедуры банкротства на срок от 3х месяцев</div>
        </div>
      </div>
      <div class="steps__item">
        <div class="steps__item-number">6</div>
        <div class="steps__item-body">
          <img src="{{ 'assets/images/steps/success.png'|theme }}" alt="Банкроство" class="steps__item-ico" />
          <div class="steps__item-title">Завершение процедуры банкротства и полное освобождение от долгов</div>
        </div>
      </div>
    </div>
  </div>
</section>