@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../css/lightbox.min.css';

@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl Light'), local('Stolzl-Light'),
      url('../fonts/Stolzl-Light.woff2') format('woff2'),
      url('../fonts/Stolzl-Light.woff') format('woff'),
      url('../fonts/Stolzl-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl Regular'), local('Stolzl-Regular'),
      url('../fonts/Stolzl-Regular.woff2') format('woff2'),
      url('../fonts/Stolzl-Regular.woff') format('woff'),
      url('../fonts/Stolzl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl Medium'), local('Stolzl-Medium'),
      url('../fonts/Stolzl-Medium.woff2') format('woff2'),
      url('../fonts/Stolzl-Medium.woff') format('woff'),
      url('../fonts/Stolzl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: local('fonts/Stolzl Bold'), local('Stolzl-Bold'),
      url('../fonts/Stolzl-Bold.woff2') format('woff2'),
      url('../fonts/Stolzl-Bold.woff') format('woff'),
      url('../fonts/Stolzl-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$blue: #6EC1E4;
$primary: #262626;
$grey: #7A7A7A;
$base-font: 'Stolzl', 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: #FFF;
  color: #000;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

a {
  color: $blue;
  text-decoration: none;
  transition: .3s ease;
  &:hover, &:focus {
    text-decoration: none;
    color: darken($color: $blue, $amount: 10%);
  }
}

button {
  appearance: none;
  background: none;
  border: none;
  display: inline-flex;
}

input {
  background: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.header {
  position: relative;
  z-index: 15;

  &__bottom {
    z-index: 10;
    background: #FFF;

    &_fixed {
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;

      @media (max-width: 767px) {
        position: inherit;
      }
    }


  }

  &__logo {
    width: 100%;
    max-width: 45%;

    @media (max-width: 991px) {
      max-width: 75px;
    }
  }

  &__description {
    color: $primary;
    text-transform: lowercase;
    font-size: 12px;
    position: relative;
    margin: 0;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 140%;
      background: $blue;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: -20%;
    }
  }

  &__contact {
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__count {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (max-width: 767px) {
      width: 100%;
      max-width: 50%;
    }

    @media (max-width: 479px) {
      max-width: 100%;
    }

  }

  &__count-numbers {
    color: $blue;
    font-size: 24px;
    font-weight: 700;
  }

  &__count-text {
    color: $primary;
    font-size: 11px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (max-width: 767px) {
      width: 100%;
      max-width: 50%;
    }

    @media (max-width: 479px) {
      max-width: 100%;
    }
  }

  &__phone {
    color: $primary;
    font-size: 24px;
    font-weight: 500;
  }

  &__open {
    color: $primary;
    font-size: 11px;
  }
}

.nav-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-link {
  font-size: 17px;
  font-weight: 500;
  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.messengers {
  display: flex;

  $root: &;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 15px;

    &_whatsapp {
      background: #43d854;

      &:hover, &:focus, &:active {
        background: darken($color: #43d854, $amount: 5%);
      }
    }

    &_vk {
      background: #4d7198;
      &:hover, &:focus, &:active {
        background: darken($color: #4d7198, $amount: 5%);
      }
      #{$root} {
        &__ico {
          margin: 0 0 -2px -2px;
        }
      }
    }

    &_instagram {
      background: #E1306C;
      &:hover, &:focus, &:active {
        background: darken($color: #E1306C, $amount: 5%);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__ico {
    color: #FFF;
    font-size: 20px;
  }
}

.hero {
  padding: 100px 0 30px;
  background: url(../../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  position: relative;

  @media (max-width: 1199px) {
    padding: 80px 0 30px;
  }

  @media (max-width: 990px) {
    padding: 60px 0 30px;
  }

  @media (max-width: 767px) {
    padding: 40px 0 30px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #FFF, $alpha: .7);
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 40px;
    }

    @media (max-width: 479px) {
      font-size: 30px;
    }
  }

  &__description {
    max-width: 640px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    @media (max-width: 479px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 359px) {
      font-size: 16px;
    }
  }

  &__action {
    @media (max-width: 479px) {
      flex-direction: column;
    }
  }

  &__action-info {
    font-weight: 500;
    max-width: 250px;
    @media (max-width: 479px) {
      margin-top: 10px;
    }
  }

  &__lawyer {
    max-width: 375px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: 1199px) {
      max-width: 320px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__featured {
    margin: 150px 0 0;
    position: relative;
    z-index: 3;

    @media (max-width: 990px) {
      margin-top: 70px;
    }

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__featured-item {
    position: relative;
    background: $blue;
    padding: 25px 25px 25px 134px;
    border-radius: 25px;
    overflow: hidden;
    @media (max-width: 1199px) {
      padding: 15px 10px 15px 100px;
    }
    @media (max-width: 575px) {
      width: 100%;
      max-width: 330px;
      margin: 0 auto;
    }
  }

  &__featured-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    @media (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__featured-text {
    font-size: 17px;
    @media (max-width: 1199px) {
      font-size: 14px;
    }
  }

  &__featured-image {
    max-width: 134px;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (max-width: 1199px) {
      max-width: 100px;
    }
  }
}

.start {
  padding: 150px 0;
  background: $blue;

  $root: &;

  @media (max-width: 1199px) {
    padding: 100px 0;
  }
  @media (max-width: 990px) {
    padding: 50px 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media (max-width: 990px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
      text-align: center;
    }

    @media (max-width: 575px) {
      font-size: 16px;
    }

  }

  &__item {

    &:hover {
      #{$root} {
        &__item-header {
          padding-top: 5px;
        }
      }
    }

    @media (max-width: 575px) {
      max-width: 360px;
      margin: 0 auto;
    }
  }

  &__item-header {
    position: relative;
    display: inline-block;
    height: 70px;
    overflow: hidden;
    padding: 0 10px;
    transition: all .2s linear;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: #ffc107;
      border-radius: 2px;
      left: 0;
      bottom: 10px;
      position: absolute;
    }

    &::before {
      content: '';
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: $blue;
    }
  }

  &__item-num {
    font-size: 70px;
    font-weight: 500;
    overflow: hidden;
  }

  &__item-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 20px;
    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__item-description {
    font-size: 18px;
  }

  &__footer {
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    @media (max-width: 990px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  &__footer-group {
    width: 100%;
    max-width: 66.666%;
    padding-right: 15px;
    @media (max-width: 1199px) {
      max-width: 60%;
    }
    @media (max-width: 990px) {
      max-width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__footer-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 10px;
    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 20px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__footer-description {
    font-size: 18px;
    line-height: 24px;
    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__btn {
    @media (max-width: 575px) {
      font-size: 16px;
    }
    @media (max-width: 349px) {
      font-size: 15px;
    }
  }
}

.calc {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  $root: &;

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;

    span {
      display: block;
      color: $blue;
      font-weight: 700;
      @media (max-width: 575px) {
        display: inline;
      }
    }

    @media (max-width: 990px) {
      font-size: 26px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__wrapper {
    border-radius: 10px;
  }

  &__header {
    padding: 30px;
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  &__header-title {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 15px 0 30px;
    position: relative;
    @media (max-width: 990px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      padding-left: 20px;
    }
  }

  &__header-ico {
    width: 20px;
    height: 20px;
    fill: $grey;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;

    @media (max-width: 575px) {
      width: 14px;
      height: 14px;
      top: calc(50% - 7px);
    }
  }

  &__num {
    font-size: 28px;
    font-weight: 700;
    @media (max-width: 990px) {
      font-size: 24px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__process {
    width: 100%;
    height: 5px;
    background: $primary;
    position: relative;
  }

  &__percent {
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $blue;
    z-index: 1;
    transition: width .2s linear;
  }

  &__body {
    min-height: 400px;
    padding: 30px;
    position: relative;
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  &__step {
    display: none;
    &_active {
      display: block;
    }
  }

  &__step-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media (max-width: 990px) {
      font-size: 16px;
    }
  }

  &__step-label {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    @media (max-width: 575px) {
      height: 40px;
      margin-bottom: 10px;
    }
  }

  &__step-radio {
    width: 30px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 0;
    cursor: pointer;

    &:checked +  {
      #{$root} {
        &__step-text {
          color: $blue;
        }
        &__step-text::after {
          opacity: 1;
        }
      }
    }

    &:focus + {
      #{$root} {
        &__step-text::before {
          box-shadow: 0 0 3px 3px rgba($blue, .7);
        }
      }
    }

  }

  &__step-text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border: 1px solid #CDD1DA;
      border-radius: 50%;
      background: #FFF;
      @media (max-width: 575px) {
        top: calc(50% - 11px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $blue;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
      opacity: 0;
      transition: .2s;
      @media (max-width: 575px) {
        top: calc(50% - 8px);
      }
    }
  }

  &__error-text {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity .4s ease, transform .2s linear;

    &_show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__controls {
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    bottom: 30px;
    left: 0;
    @media (max-width: 379px) {
      flex-direction: column;
      align-items: flex-start;
      bottom: 20px;
    }
  }

  &__btn {
    padding: 5px 30px;
    display: inline-flex;
    align-items: center;
    &_hide {
      display: none;
    }
    @media (max-width: 379px) {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__arrow {
    width: 15px;
    height: 15px;
    fill: #FFF;
  }

  &__submit {
    display: none;
    &_show {
      display: inline-block;
    }
  }

  &__submit-ico {
    width: 15px;
    height: 15px;
    fill: #FFF;
    margin: -3px 0 0 5px;
  }

}

.promo {
  padding: 50px 0;
  background: $blue;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__image {
    animation: call 20s infinite linear;
    transition: transform .2s ease;
  }

  @keyframes call {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(0deg);
   }
  }

  &__title {
    color: #FFF;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 1199px) {
      font-size: 24px;
      margin-bottom: 30px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
      margin-bottom: 20px;
    }

    span {
      display: block;
      color: #ffc107;
      font-size: 25px;
      font-weight: 700;
      text-shadow: 1px 1px 2px rgba(0,0,0,.7);
      @media (max-width: 1199px) {
        font-size: 22px;
      }
      @media (max-width: 990px) {
        display: inline;
      }
      @media (max-width: 575px) {
        font-size: 20px;
      }
    }
  }

  &__description {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    @media (max-width: 990px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__list {
    padding-left: 30px;
    @media (max-width: 575px) {
      padding-left: 20px;
    }
  }

  &__list-item {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    @media (max-width: 990px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__btn {
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}

.about {
  padding: 50px 0;

  $root: &;

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }

  &__content {
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        font-size:16px;
        line-height: 19px;
      }
    }
  }

  &__featured-item {
    position: relative;
    padding: 23px 23px 23px 132px;
    border-radius: 25px;
    border: 2px solid $blue;
    @media (max-width: 1199px) {
      padding: 15px 10px 15px 100px;
    }
    @media (max-width: 575px) {
      width: 100%;
      max-width: 330px;
      margin: 0 auto;
    }
  }

  &__featured-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    @media (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__featured-text {
    font-size: 17px;
    min-height: 68px;
    @media (max-width: 1199px) {
      font-size: 14px;
    }
  }

  &__featured-image {
    max-width: 134px;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (max-width: 1199px) {
      max-width: 100px;
    }
  }

  .col-12:nth-child(odd) {
    #{$root} {
      &__featured-item {
        background: $blue;
      }
      &__featured-title, &__featured-text {
        color: #FFF;
      }
    }
  }

}

.claim {
  padding: 50px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 40px;

    &_blue {
      color: $blue;
      display: block;
      @media (max-width: 575px) {
        display: inline;
      }
    }

    &_yellow {
      color: #ffc107;
      display: block;
      @media (max-width: 575px) {
        display: inline;
      }
    }

    @media (max-width: 1199px) {
      font-size: 26px;
    }

    @media (max-width: 379px) {
      font-size: 24px;
    }

  }

  &__description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    @media (max-width: 990px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__list {
    padding-left: 30px;
    @media (max-width: 575px) {
      padding-left: 20px;
    }
  }

  &__list-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    @media (max-width: 990px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__action {
    padding: 30px 20px;
    border-radius: 20px;
    background: $blue;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    span {
      color: #ffc107;
      text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    }
    @media (max-width: 1199px) {
      font-size: 14px;
    }
    @media (max-width: 990px) {
      font-size: 19px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
    }
  }
}
.form {
  padding: 20px;

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    span {
      color: $blue;
      font-weight: 700;
      display: block;
      @media (max-width: 379px) {
        font-size: 20px;
        display: inline;
      }
    }

    @media (max-width: 379px) {
      font-size: 20px;
    }
  }
  &__description {
    color: $grey;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
}

.step {
  padding: 50px 0;

  $root: &;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;

    span {
      color: $blue;
    }
  }

  &__content {
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        font-size:16px;
        line-height: 19px;
      }
    }
  }

  &__featured-item {
    position: relative;
    padding: 25px 25px 25px 80px;
    border-radius: 25px;
    margin-bottom: 30px;
    @media (max-width: 1199px) {
      padding: 15px 5px 15px 70px;
      margin-bottom: 40px;
    }
    @media (max-width: 990px) {
      padding: 25px 25px 25px 80px;
    }
    @media (max-width: 575px) {
      width: 100%;
      max-width: 330px;
      margin: 0 auto 40px;
    }
  }

  &__featured-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    @media (max-width: 1199px) {
      font-size: 12px;
    }

    @media (max-width: 990px) {
      font-size: 13px;
      br {
        display: none;
      }
    }
  }

  &__featured-text {
    font-size: 17px;
    @media (max-width: 1199px) {
      font-size: 14px;
    }
  }

  &__featured-image {
    max-width: 134px;
    position: absolute;
    left: 0;
    bottom: 0;

    @media (max-width: 1199px) {
      max-width: 100px;
    }
  }

  .col-12:nth-child(odd) {
    #{$root} {
      &__featured-item {
        background: $blue;
      }
      &__featured-title, &__featured-text {
        color: #FFF;
      }
    }
  }
}

.advantages {
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;

    span {
      display: block;
      color: $blue;
      @media (max-width: 991px) {
        display: inline;
      }
    }

    @media (max-width: 1199px) {
      font-size: 25px;
    }

    @media (max-width: 990px) {
      font-size: 22px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    @media (max-width: 1199px) {
      left: -60%;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    padding-left: 45px;
    margin-bottom: 20px;
    min-height: 35px;

    span {
      color: $grey;
    }

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__ico {
    width: 35px;
    height: 35px;
    fill: $blue;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.testimonial {
  padding: 50px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__avatar {
    width: 100%;
    max-width: 200px;
  }

  &__group {
    max-width: calc(100% - 200px);
  }
}

.map {
  min-height: 600px;
  position: relative;
  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__content {
    border-radius: 10px;
    padding: 60px;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    z-index: 1;
    @media (max-width: 767px) {
      padding: 30px;
      box-shadow: none;
    }
  }

  &__title {
    color: $blue;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__phone {
    color: $primary;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 25px;
    }
  }

  &__open {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__adress {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .messengers {
    justify-content: center;
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @media (max-width: 767px) {
      position: relative;

      &::after {
        content: '';
        padding-top: calc(100% / (16/9));
        display: block;
        @media (max-width: 410px) {
          padding-top: 80%;
        }
      }
    }

  }

  &__iframe {
    width: 100%;
    height: 100%;
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.news {
  padding: 70px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    color: $blue;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__item {
    text-decoration: none;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__preview {
    position: relative;
    &::after {
      content: '';
      padding-top: calc(100% / (16/9));
      display: block;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-title {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    @media (max-width: 1199px) {
      font-size: 18px;
    }
    @media (max-width: 575px) {
      padding: 15px;
    }
  }

  &__date {
    display: inline-block;
    color: $grey;
    font-size: 14px;
    font-weight: 300;
    padding: 0 20px;
    @media (max-width: 575px) {
      padding: 0 15px;
    }
  }

  &__description {
    color: $primary;
    font-size: 16px;
    line-height: 21px;
    padding: 20px;
    @media (max-width: 1199px) {
      font-size: 15px;
    }
    @media (max-width: 575px) {
      padding: 15px;
    }
  }
}

.faq {
  padding: 70px 0;
  $root: &;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;

    span {
      color: $blue;
    }

    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: 479px) {
      font-size: 25px;
    }
  }

  &__header {
    position: relative;

    &:hover {
      #{$root} {
        &__ico {
          background: $blue;
        }
        &__plus {
          fill: #FFF;
        }
      }
    }
  }

  &__btn, &__btn:focus, &__btn:hover {
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
  }

  &__btn {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }


  &__btn:not(.collapsed) + {
    #{$root} {
      &__ico {
        transform: rotate(45deg);
      }
    }
  }

  &__ico {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: calc(50% - 20px);
    cursor: pointer;
    background: none;
    transition: all .3s ease;

  }

  &__plus {
    width: 24px;
    height: 24px;
    fill: $primary;
    transition: all .3s ease;
  }

  p, li {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }

  ol {
    padding-left: 20px;
  }
}

.footer {
  padding: 30px 0;
  background: $primary;

  &__logo {
    width: 100%;
    max-width: 45%;

    @media (max-width: 991px) {
      max-width: 75px;
    }
  }

  &__description {
    color: #FFF;
    text-transform: lowercase;
    font-size: 13px;
    position: relative;
    margin: 0;
    white-space: nowrap;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 140%;
      background: $blue;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: -20%;
    }
  }

  &__info {
    @media (max-width: 1199px) {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .messengers {
    justify-content: flex-end;
  }

}

.modal-header {
  .close {
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    opacity: 1;
  }
}

.form {
  &__submit-ico {
    width: 15px;
    height: 15px;
    fill: #FFF;
    margin: -3px 0 0 5px;
  }
}